#fos_user_registration_form {
    
}
.fos_user_registration_register {
    
}
label {
        width: 200px;
        margin: 10px 0;
    }
    input {
        width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 2px;
    }
    input[type=submit] {
        border: none;
        background-color: #17a2b8;
        color: #fff;
        padding: 5px 10px;
        margin: 20px 0 0;
        max-width: 100px;
        }

input[type=checkbox] {
    width: 20px;
    display: block;
    margin-top: 10px;
    & + label {
        margin: 0;
        display: block;
    }
}